.header__title {
    color: var(--background);
}

.header__buttons {
    margin-left: 25px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.button__home {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--week-green);
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.button__home:hover {
    background-color: #15f03d;
}

.button__publications {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: var(--week-green);
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.button__publications:hover {
    background-color: #15f03d;
}

.profile {
    background-color: transparent;
    padding: 30px 20px;
}

.complaints {
    padding: 20px;
}

.profile__data {
    margin: 0 auto;
    width: clamp(300px, 90%, 800px);
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    background-color: var(--background);
    border-radius: 20px;
}

.profile__image {
    width: clamp(130px, 60%, 150px);
    height: 150px;   
    border: 1px solid transparent;
    border-radius: 50%;
}

.profile__data__body {
    line-height: 35px;
}

.profile__data__body h2 {
    font-size: 1.8rem;
    text-align: center;
}

.profile__data__body h3 {
    text-align: center;
    font-size: 1.2rem;
    color: #555f5f;
    font-weight: normal;
}

.profile__data__body h3 svg {
    position: relative;
    left: 1px;
    top: 4px;
}

.profile__data__body h4 {
    font-size: 1rem;
    color: #6a7a68;
    font-weight: normal;
}

.data__body__settings_btn {
    margin: auto 30px;
    border: solid transparent;
    color: var(--background);
    background-color: var(--strong-green);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.data__body__settings_btn:hover {
    background-color: var(--week-green);
}

.complaints__introduction {
    margin-bottom: 10px;
    background-color: var(--background);
    padding: 10px;
    border: solid;
    border-radius: 10px;
}

/* Style settings */
.settings {
    padding: 20px;
}

.settings > h2 {
    margin-bottom: 25px;
    text-align: center;
}

.settings svg {
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.settings__edit {
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 10px;
    background-color: var(--background);
    width: clamp(300px, 90%, 800px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 0 auto 30px;
}

.settings__edit span {
    color: #999;
    font-size: 0.8rem;
    font-weight: bold;
}

.settings__edit button {
    align-self: center;
    width: 200px;
    padding: 7px 30px;
    background-color: var(--strong-green);
    transition: background-color 0.2s ease-in-out;
}

.settings__edit button:hover {
    background-color: var(--week-green);
}

.pictureSection, .settings__info_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.pictureSection {
    align-items: center;
}

.previewContainer {
  margin: 20px 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.pictureSection__upload {
    border: solid 1px var(--strong-green);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #e8f5ee;
    color: var(--strong-green);
    font-weight: bold;
    cursor: pointer;
}

.settings__info_profile label {
    font-size: 0.9rem;
    font-weight: bold;
}

.settings__info_profile input {
    padding: 10px 20px;
    background-color: var(--background);
    color: var(--foreground);
    outline: none;
    border: solid 1px #aaa;
    border-radius: 10px;
}

.settings__info_profile input:disabled {
    background-color: #dddddd;
}

.settings__danger_zone {
    margin: 0 auto;
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 10px;
    background-color: var(--background);
    width: clamp(300px, 90%, 800px);
}

.settings__danger_zone h2 {
    margin-bottom: 25px;
    font-size: 1.2rem;
    color: var(--warning-color-weak);
}

.settings__danger_zone button {
    width: 100%;
    margin-bottom: 20px;
}
/* Media query */

@media screen and (min-width: 817px) {
    .profile__data {
        flex-direction: row;
        padding: 35px 20px 35px 50px;
    }
    .profile__data__body h2 {
        text-align: left;
    }

    .profile__data__body h3 {
        text-align: left;
    }
}