.admin {
    width: clamp(320px, 75%, 900px);
    margin: 0 auto;
}

.admin h1 {
    text-align: center;
    margin: 3rem 0;
}

.admin__filters {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    border-bottom: solid 5px var(--strong-green);
    padding-bottom: 1rem;
}

.admin__state_query {
    background-color: var(--strong-green);
    padding: 0 10px;
    outline: none;
    cursor: pointer;
}

.admin__com_item {
    border-radius: 20px;
    box-shadow: 0 2px 10px var(--foreground);
    padding: 1rem;
    margin: 1.5rem 0;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.admin__com_item:hover {
    transform: scale(1.03);
}

.admin__com_item > div {
    flex-basis: 200px;
}

.admin__com_item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

 .com_item__b {
    color: var(--week-green);
}

.dialog_confirm {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    border: none;
}

.dialog_confirm > div {
    position: absolute;
    width: clamp(300px, 75%, 500px);
    padding: 30px;
    background-color: var(--background);
    color: var(--strong-green);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: pretty;
    border-radius: 20px;
    box-shadow: 0 0 15px var(--foreground);
    text-align: center;
}

.dialog_confirm > div > h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.dialog_confirm__button {
    background-color: var(--warning-color-strong);
    color: var(--background);
    border: none;
    padding: 10px;
    margin: 10px;
    width: clamp(150px, 75%, 200px);
    cursor: pointer;
    font-size: 1.2rem;
}

.dialog_confirm__button:last-child {
    background-color: var(--strong-green);
}

/* TimeLine. */

.office {
    padding: 20px;
    background-color: #f4f6f5;
}

.container__actions_pc {
    background-color: var(--background);
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 9px var(--foreground);
    padding: 20px;
    margin-bottom: 30px;
}


/* actions pc */
.actions_pc__head h3, .actions_pc__head p {
    display: inline-block;
}

.actions_pc__head {
    border-bottom: solid 2px #aaa;
    padding: 10px;
}

.actions_pc__head h3 {
    margin-right: 20px;
}

.actions_pc__body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}

.actions_pc__body > div {
    flex-basis: 250px;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

/* Actions buttons phone */

.container__actions_phone {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: var(--background);
    position: sticky;
    bottom: 0;
}

.container__actions_phone > div {
    padding: 10px;
    border: solid 1px;
    border-radius: 10px;
    min-width: 80px;
    flex-grow: 1;
    text-align: center;
}

.actions__info {
    border-color: #bfdbfe;
    color: #bfdbfe;
}

.actions__up {
    border-color: #15803d;
    color: #15803d;
}

.actions__app {
    border-color: #e39b48;
    color: #e39b48;
}

.actions__rej {
    border-color: #c44537;
    color: #c44537;
}

.actions__cl {
    border-color: #8446ee;
    color: #8446ee;
}

.actions__pub {
    border-color: #2312ff;
    color: #2312ff;
}

@media screen and (width > 576px) {
    .admin__com_item > div:first-child {
        border-right: solid 3px var(--strong-green);
        padding-right: 10px;
    }

    .admin__com_item  > div:last-child {
        text-align: right;
    }
}