/* new complaint */
.complaints__new {
    padding: 40px;
}

.complaints__new h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}

.complaints__new__form {
    margin: auto;
    width: clamp(250px, 50%, 500px);
    display: flex;
    flex-direction: column;
    gap: 5px
}

.complaints__new__form label {
    display: block;
}

.complaints__new__form input, .complaints__new__form textarea {
    width: 100%;
    padding: 10px;
    border: solid 1px var(--foreground);
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #fff;
    color: var(--foreground);
    margin-bottom: 20px;
}

.complaints__new__form textarea {
    resize: none;
    height: 200px;
}

.complaints__new__form button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--week-green);
    color: var(--foreground);
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;  
}

.complaints__new__form button:hover {
    background-color: var(--strong-green);
}