/* Publication */

.publication__head {    
    padding: 10px 20px;
    position: sticky;
    top: 12%;
    background-color: var(--background);
}

.publication__head h1 {
    margin: 20px 0;
}

.publication__action_section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;    
}

.publication__action_section button {
    padding: 10px 20px;
    font-weight: 800;
    letter-spacing: 2px;
    border-radius: 10px;
}

.action_section__button_create {
    background-color: var(--strong-green);
    color: var(--background);
}

.publication__list {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.publication__item, .publication__item_selected {
    border-radius: 20px;
    background-color: var(--background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.publication__item {
    border: solid 2px transparent;
    cursor: pointer;
    transition: 0.15s ease;
}

.publication__item_selected {
    border: solid 2px var(--foreground);
}

/* new publication */

.publication__new {
    margin: 20px auto;
    width: clamp(300px, 70%, 1000px);
}


.publication__new__form__header {
    line-height: 40px;
    margin-bottom: 30px;
}

.publication__new__form__body {
    display: flex;
    flex-wrap: wrap;
} 

.publication__new__form__preview {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-right: 20px;
}

.publication__new__form__body__form {
    flex-grow: 2;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.publication__new__form__body__form input {
    max-width: 500px;
    outline: none;
    padding: 15px 10px;
    border-radius: 10px;
    border: solid 1px var(--foreground);
    color: var(--background);
    background-color: var(--strong-green);
    font-size: 0.9rem;
}

.publication__new__form__body__form input::placeholder,
.publication__new__form__body__form textarea::placeholder {
    color: var(--foreground);
}

.publication__new__form__body__form textarea {
    max-width: 500px;
    min-height: 150px;
    outline: none;
    padding: 15px 10px;
    border-radius: 10px;
    border: solid 1px var(--foreground);
    color: var(--background);
    background-color: var(--strong-green);
    resize: none;
    font-size: 0.9rem;
}


.publication__new__form__body__form button {
    align-self: center;
    padding: 5px 50px;
    background-color:aquamarine;
    color: var(--foreground);
    font-weight: 800;
    letter-spacing: 2px;
}