.charity {
    padding: 10px;
}

.charity__data {
    text-align: center;
    position: sticky;
    top: 0;
    font-size: 1.7rem;
    background-color: var(--background);
    padding: 20px 0 40px;
    border: transparent solid 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    
}

.charity__data h1 {
    font-size: 3rem;
}

.charity__data h2 {
    margin: 20px 0;
}

.charity__data span {
    font-weight: bold;
    color: var(--week-green);
}

.charity__data a {
    border: solid 2px var(--foreground);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: var(--background);
    background-color: var(--strong-green);
    transition: background-color 0.3s ease-in-out;
    font-size: 1.3rem;
    position: relative;
}

.charity__data a:hover {
    background-color: var(--week-green);
}

.charity__data__heart {
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: -1;
    transition: left  0.3s ease-out;
}

.charity__data a:hover .charity__data__heart {
    left: 105%;
}

.charity__information {
    margin-top: 40px;
    padding: 0 60px;
}