.notifications__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #d6f7e9;
    padding: 30px 10px;
    position: sticky;
    top: 12%;
    z-index: 10;
}

.notifications__header__stats_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.notifications__header__stats {
    padding: 22px 35px;
    border: solid 1px #ddd;
    border-radius: 20px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.notifications h1 {
    margin-bottom: 10px;
    color: var(--foreground);
}

.notifications__body {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    gap: 20px;
}

.notifications__item {
    width: clamp(300px, 90%, 800px);
    margin: 0 auto;
    border: solid 1px #ddd;
    border-radius: 20px;
    padding: 30px 20px;
    cursor: pointer;
}

.notifications__topic__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
}

.notifications__item__content {
    padding: 10px 0 20px;
    border-radius: 10px;
    opacity: 0.8;
    color: #313131;
}

.notifications__item__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px 0;
}

.notifications__item__footer span {
    font-size: 0.9rem;
}

@media  screen and (max-width: 310px) {
    .notifications__header {
        top: 127px;
    }
}

@media screen and (max-width: 415px) {
    .notifications__item__footer span {
        font-size: 0.7rem;
    }
}