.footer__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-size: 0.8rem;
    color: var(--background);
    text-align: center;
    align-items: center;
}

.footer__logo {
    flex-basis: 200px;
    flex-grow: 2;
    max-width: 250px;
}

.footer__logo img {
    width: 100%;
}