.complaints__body {
    padding: 15px;
}

.complaints__introduction {
    margin-bottom: 10px;
}

.complaints__title {
    text-align: center;
}

.complaints__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.complaints__item {
    display: grid;
    grid-template-columns: auto 40%;
    grid-template-rows: repeat(2, auto);
    width: clamp(300px, 50%, 600px);
    max-height: 150px;
    overflow-y: clip;
    border: solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--foreground);
    transition: transform 0.2s ease-in-out;
}

.complaints__item:hover {
    transform: scale(102%);
    cursor: pointer;
}

.complaints__itemID, .complaints__itemDescription, .complaints__itemData {
    padding: 10px;
}


.complaints__itemID {
    border-bottom: solid 1px #000;
    grid-column: 1/span 2;
}

.complaints__itemDescription {
    border-right: solid 1px #000;
}

/* .complaints__itemData {

} */

.complaints__button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--week-green);
    color: var(--foreground);
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;  
}

.complaints__button:hover {
    background-color: var(--strong-green);
}

/* Complaint new */

.complaints__new h2{
    text-align: center;
    color: var(--strong-green);
    margin: 30px 0 10px;
    font-size: 2rem;
}

.complaints__new__container {
    max-width: 100%;
}

.complaints__new__form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    width: clamp(300px, 100%, 700px);
}

.complaints__new__form label {
    font-size: 1.2rem;
}

.complaints__new__form input, .complaints__new__form textarea, .complaints__new__form select {
    padding: 10px 6px;
    width: 100%;
    background-color: var(--background);
    border: solid 2px var(--week-green);
    border-radius: 10px;
    color: var(--foreground);
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: var(--week-green);
}

.complaints__new__form textarea {
    resize: none;
    height: 20dvh;
}

.complaints__new__form button {
    align-self: center;
    width: 200px;
    padding: 7px 30px;
    background-color: var(--strong-green);
    transition: background-color 0.2s ease-in-out;
}

.complaints__new__form button:hover {
    background-color: var(--week-green);
}

.complaints__err {
    color: #800;
}

/* case */

.office {
    padding: 20px;
    background-color: #f4f6f5;
}

.container__actions_pc {
    background-color: var(--background);
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 9px var(--foreground);
    padding: 20px;
    margin-bottom: 30px;
}


/* actions pc */
.actions_pc__head h3, .actions_pc__head p {
    display: inline-block;
}

.actions_pc__head {
    border-bottom: solid 2px #aaa;
    padding: 10px;
}

.actions_pc__head h3 {
    margin-right: 20px;
}

.actions_pc__body {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding: 20px;
}

.actions_pc__body > div {
    flex-basis: 150px;
    min-width: 250px;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

/* Actions buttons phone */

.container__actions_phone {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: var(--background);
    position: sticky;
    bottom: 0;
}

.container__actions_phone > div {
    padding: 10px;
    border: solid 1px;
    border-radius: 10px;
    min-width: 80px;
    flex-grow: 1;
    text-align: center;
}

.actions__req {
    border-color: #c44537;
    color: #c44537;
}

.actions__info {
    border-color: #2312ff;
    color: #2312ff;
} 

/* dialog*/

.dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
    border: none;
}

.dialog__body {
    background-color: var(--background);
    padding: 20px;
    color: var(--foreground);
    width: clamp(300px, 75%, 500px);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 15px var(--foreground);
    text-align: center;
} 

.dialog__body h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.dialog__body textarea {
    width: 100%;
    margin-bottom: 10px;
    min-height: 225px;
    border: solid 1px var(--foreground);
    background-color: #d1e6db;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    font-size: 1rem;
    scrollbar-width: thin;
    scrollbar-color: var(--strong-green) var(--background);
}

.dialog__body__button_send {
    background-color: var(--strong-green);
    color: var(--background);
    border: none;
    padding: 10px;
    margin: 10px;
    width: clamp(150px, 75%, 200px);
}

.dialog__body__button_cancel {
    background-color: var(--warning-color-strong);
    color: var(--background);
    border: none;
    padding: 10px;
    margin: 10px;
    width: clamp(150px, 75%, 200px);
}